//mixins and mixin accessories

$breakpoints: (
  xs: var(--breakpoint-xs), 
  sm: var(--breakpoint-sm), 
  md: var(--breakpoint-md), 
  lg: var(--breakpoint-lg),
  xl: var(--breakpoint-xl) 
 );

@mixin mq($size) {
  $value: map-get($breakpoints, $size);
  @media only screen and (min-width: $value) {
    @content;
  }
}