.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

// https://piccalil.li/quick-tip/flow-css-utility/
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

// npm run dev
// npm run graphql-deploy

.db1 { border: 1px solid var(--db1); }
.db2 { border: 1px solid var(--db2); }
.db3 { border: 1px solid var(--db3); }
.db4 { border: 1px solid var(--db4); }
.db5 { border: 1px solid var(--db5); }
.db6 { border: 1px solid var(--db6); }
.db7 { border: 1px solid var(--db7); }
.db8 { border: 1px solid var(--db8); }
.db9 { border: 1px solid var(--db9); }